<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Quiz</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Available Quizzes</h1>
        <table id="quizzesTable" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Quiz ID</th>
                    <th>Quiz Title</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Quizzes will be populated here -->
            </tbody>
        </table>

        <div id="quizDetails" style="display: none;">
            <h2 class="title">Quiz Questions</h2>
            <div id="questionsContainer">
                <!-- Questions and options will be populated here -->
            </div>
            <button class="btn btn-primary btn-submit">Submit Quiz</button>
        </div>
        <div id="leaderboard" style="display: none;">
            <h2 class="title">Leaderboard</h2>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>User</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="leaderboardBody">
                    <!-- Leaderboard entries will be populated here -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/take-quiz.js"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>